@import "Variables.scss";

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f8fa;
  
    .auth-card {
      display: flex;
      width: 40vw;
      height: 400px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
  
      .auth-cover {
        background-color: $twitter-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        color: white;
        padding: 20px;
  
        .auth-logo {
          width: 50px;
          margin-bottom: 20px;
        }
  
        h2 {
          margin-top: 10px;
        }
      }
  
      .auth-form {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
  
        form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          input {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #e1e8ed;
            border-radius: 5px;
          }
  
          .auth-button {
            width: 80%;
            padding: 10px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
  
        p {
          margin-top: 10px;
  
          a {
            color: $twitter-blue;
            text-decoration: none;
          }
        }
      }
    }
  }
  